In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [137]:
Rootdf = pd.read_csv('Root_Insurance_data_Edited.csv')

### Adding Interaction Variables

In [138]:
Rootdf['Mult_Vehicles_Drivers'] = Rootdf.Num_Vehicles * Rootdf.Num_Drivers
print(Rootdf.Mult_Vehicles_Drivers.describe())
Rootdf['Add_Vehicles_Drivers'] = Rootdf.Num_Vehicles + Rootdf.Num_Drivers
print(Rootdf.Add_Vehicles_Drivers.describe())

count    10000.000000
mean         2.936000
std          1.579669
min          1.000000
25%          2.000000
50%          2.000000
75%          4.000000
max          6.000000
Name: Mult_Vehicles_Drivers, dtype: float64
count    10000.000000
mean         3.465300
std          0.937381
min          2.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: Add_Vehicles_Drivers, dtype: float64

## Describing Data Overall

In [139]:
print(Rootdf.describe())
print(Rootdf.describe(include='object'))

       Num_Vehicles   Num_Drivers      Bid          Rank  Policies_sold  \
count  10000.000000  10000.000000  10000.0  10000.000000   10000.000000
mean       1.965400      1.499900     10.0      3.184100       0.078300
std        0.807755      0.500025      0.0      1.377242       0.268657
min        1.000000      1.000000     10.0      1.000000       0.000000
25%        1.000000      1.000000     10.0      2.000000       0.000000
50%        2.000000      1.000000     10.0      3.000000       0.000000
75%        3.000000      2.000000     10.0      4.000000       0.000000
max        3.000000      2.000000     10.0      5.000000       1.000000

       Mult_Vehicles_Drivers  Add_Vehicles_Drivers
count           10000.000000          10000.000000
mean                2.936000              3.465300
std                 1.579669              0.937381
min                 1.000000              2.000000
25%                 2.000000              3.000000
50%                 2.000000              3.000000
75%                 4.000000              4.000000
max                 6.000000              5.000000
       Insured Marital  Click
count    10000   10000  10000
unique       3       2      2
top          N       M      N
freq      3444    5191   8122

## Breakdown of Insured, Marital, Num_Vehicles, Num_Drivers, and Interactions

In [140]:
print('Insured Breakdown')
print(Rootdf.Insured.value_counts())
print(Rootdf.Insured.value_counts()/Rootdf.Insured.count()*100)
print()

print('Marital Status Breakdown')
print(Rootdf.Marital.value_counts())
print(Rootdf.Marital.value_counts()/Rootdf.Marital.count()*100)
print()

print('Number of Vehicles Breakdown')
print(Rootdf.Num_Vehicles.value_counts())
print(Rootdf.Num_Vehicles.value_counts()/Rootdf.Num_Vehicles.count()*100)
print()

print('Number of Drivers Breakdown')
print(Rootdf.Num_Drivers.value_counts())
print(Rootdf.Num_Drivers.value_counts()/Rootdf.Num_Drivers.count()*100)
print()

print('Number of Drivers times Number of Vehicles Breakdown')
print(Rootdf.Mult_Vehicles_Drivers.value_counts())
print(Rootdf.Mult_Vehicles_Drivers.value_counts()/Rootdf.Mult_Vehicles_Drivers.count()*100)
print()

print('Number of Drivers plus Number of Vehicles Breakdown')
print(Rootdf.Add_Vehicles_Drivers.value_counts())
print(Rootdf.Add_Vehicles_Drivers.value_counts()/Rootdf.Add_Vehicles_Drivers.count()*100)
print()

Insured Breakdown
N    3444
Y    3419
U    3137
Name: Insured, dtype: int64
N    34.44
Y    34.19
U    31.37
Name: Insured, dtype: float64

Marital Status Breakdown
M    5191
S    4809
Name: Marital, dtype: int64
M    51.91
S    48.09
Name: Marital, dtype: float64

Number of Vehicles Breakdown
2    3464
1    3441
3    3095
Name: Num_Vehicles, dtype: int64
2    34.64
1    34.41
3    30.95
Name: Num_Vehicles, dtype: float64

Number of Drivers Breakdown
1    5001
2    4999
Name: Num_Drivers, dtype: int64
1    50.01
2    49.99
Name: Num_Drivers, dtype: float64

Number of Drivers times Number of Vehicles Breakdown
2    3369
4    1827
1    1709
3    1655
6    1440
Name: Mult_Vehicles_Drivers, dtype: int64
2    33.69
4    18.27
1    17.09
3    16.55
6    14.40
Name: Mult_Vehicles_Drivers, dtype: float64

Number of Drivers plus Number of Vehicles Breakdown
4    3482
3    3369
2    1709
5    1440
Name: Add_Vehicles_Drivers, dtype: int64
4    34.82
3    33.69
2    17.09
5    14.40
Name: Add_Vehicles_Drivers, dtype: float64

## Comparing Vehicles and Drivers

In [141]:
print('Number of Vehicles with 1 Driver')
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Num_Vehicles.value_counts()/Rootdf.Num_Drivers.value_counts().loc[1])
print()
print('Number of Vehicles with 2 Drivers')
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Num_Vehicles.value_counts()/Rootdf.Num_Drivers.value_counts().loc[2])
print()

print()
print('Number of Drivers with 1 Vehicle')
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Num_Drivers.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[1])
print()
print('Number of Drivers with 2 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Num_Drivers.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[2])
print()
print('Number of Drivers with 3 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Num_Drivers.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[3])

Number of Vehicles with 1 Driver
1    1709
3    1655
2    1637
Name: Num_Vehicles, dtype: int64
1    0.341732
3    0.330934
2    0.327335
Name: Num_Vehicles, dtype: float64

Number of Vehicles with 2 Drivers
2    1827
1    1732
3    1440
Name: Num_Vehicles, dtype: int64
2    0.365473
1    0.346469
3    0.288058
Name: Num_Vehicles, dtype: float64


Number of Drivers with 1 Vehicle
2    1732
1    1709
Name: Num_Drivers, dtype: int64
2    0.503342
1    0.496658
Name: Num_Drivers, dtype: float64

Number of Drivers with 2 Vehicles
2    1827
1    1637
Name: Num_Drivers, dtype: int64
2    0.527425
1    0.472575
Name: Num_Drivers, dtype: float64

Number of Drivers with 3 Vehicles
1    1655
2    1440
Name: Num_Drivers, dtype: int64
1    0.534733
2    0.465267
Name: Num_Drivers, dtype: float64

In [166]:
print(Rootdf.groupby(['Num_Drivers','Num_Vehicles']).size())
print()

Num_Drivers  Num_Vehicles
1            1               1709
             2               1637
             3               1655
2            1               1732
             2               1827
             3               1440
dtype: int64

## Comparing Marital Status and Drivers/Vehicles

In [142]:
print('Number of Drivers with Married')
print(Rootdf.loc[Rootdf.Marital == 'M'].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'M'].Num_Drivers.value_counts()/Rootdf.Marital.value_counts().loc['M'])
print()
print('Number of Drivers with Single')
print(Rootdf.loc[Rootdf.Marital == 'S'].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'S'].Num_Drivers.value_counts()/Rootdf.Marital.value_counts().loc['S'])
print()

print()
print('Number of Vehicles with Married')
print(Rootdf.loc[Rootdf.Marital == 'M'].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'M'].Num_Vehicles.value_counts()/Rootdf.Marital.value_counts().loc['M'])
print()
print('Number of Vehicles with Single')
print(Rootdf.loc[Rootdf.Marital == 'S'].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'S'].Num_Vehicles.value_counts()/Rootdf.Marital.value_counts().loc['S'])
print()

Number of Drivers with Married
2    2662
1    2529
Name: Num_Drivers, dtype: int64
2    0.512811
1    0.487189
Name: Num_Drivers, dtype: float64

Number of Drivers with Single
1    2472
2    2337
Name: Num_Drivers, dtype: int64
1    0.514036
2    0.485964
Name: Num_Drivers, dtype: float64


Number of Vehicles with Married
2    1734
1    1732
3    1725
Name: Num_Vehicles, dtype: int64
2    0.334040
1    0.333654
3    0.332306
Name: Num_Vehicles, dtype: float64

Number of Vehicles with Single
2    1730
1    1709
3    1370
Name: Num_Vehicles, dtype: int64
2    0.359742
1    0.355375
3    0.284883
Name: Num_Vehicles, dtype: float64

In [167]:
print(Rootdf.groupby(['Num_Drivers','Marital']).size())
print()
print(Rootdf.groupby(['Num_Vehicles','Marital']).size())
print()

Num_Drivers  Marital
1            M          2529
             S          2472
2            M          2662
             S          2337
dtype: int64

Num_Vehicles  Marital
1             M          1732
              S          1709
2             M          1734
              S          1730
3             M          1725
              S          1370
dtype: int64

## Comparing Insured and Marital/Vehicles/Drivers

In [143]:
print('Martial Status with Insurance')
print(Rootdf.loc[Rootdf.Insured == 'Y'].Marital.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'Y'].Marital.value_counts()/Rootdf.Insured.value_counts().loc['Y'])
print()
print('Marital Status with No Insurance')
print(Rootdf.loc[Rootdf.Insured == 'N'].Marital.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'N'].Marital.value_counts()/Rootdf.Insured.value_counts().loc['N'])
print()
print('Marital Status with Unknown Insurance')
print(Rootdf.loc[Rootdf.Insured == 'U'].Marital.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'U'].Marital.value_counts()/Rootdf.Insured.value_counts().loc['U'])
print()

print()
print('Number of Vehicles with Insurance')
print(Rootdf.loc[Rootdf.Insured == 'Y'].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'Y'].Num_Vehicles.value_counts()/Rootdf.Insured.value_counts().loc['Y'])
print()
print('Number of Vehicles with No Insurance')
print(Rootdf.loc[Rootdf.Insured == 'N'].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'N'].Num_Vehicles.value_counts()/Rootdf.Insured.value_counts().loc['N'])
print()
print('Number of Vehicles with Unknown Insurance')
print(Rootdf.loc[Rootdf.Insured == 'U'].Num_Vehicles.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'U'].Num_Vehicles.value_counts()/Rootdf.Insured.value_counts().loc['U'])
print()

print()
print('Number of Drivers with Insurance')
print(Rootdf.loc[Rootdf.Insured == 'Y'].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'Y'].Num_Drivers.value_counts()/Rootdf.Insured.value_counts().loc['Y'])
print()
print('Number of Drivers with No Insurance')
print(Rootdf.loc[Rootdf.Insured == 'N'].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'N'].Num_Drivers.value_counts()/Rootdf.Insured.value_counts().loc['N'])
print()
print('Number of Drivers with Unknown Insurance')
print(Rootdf.loc[Rootdf.Insured == 'U'].Num_Drivers.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'U'].Num_Drivers.value_counts()/Rootdf.Insured.value_counts().loc['U'])
print()

Martial Status with Insurance
M    1740
S    1679
Name: Marital, dtype: int64
M    0.508921
S    0.491079
Name: Marital, dtype: float64

Marital Status with No Insurance
M    1725
S    1719
Name: Marital, dtype: int64
M    0.500871
S    0.499129
Name: Marital, dtype: float64

Marital Status with Unknown Insurance
M    1726
S    1411
Name: Marital, dtype: int64
M    0.550207
S    0.449793
Name: Marital, dtype: float64


Number of Vehicles with Insurance
2    1171
1    1141
3    1107
Name: Num_Vehicles, dtype: int64
2    0.342498
1    0.333723
3    0.323779
Name: Num_Vehicles, dtype: float64

Number of Vehicles with No Insurance
3    1168
2    1147
1    1129
Name: Num_Vehicles, dtype: int64
3    0.339141
2    0.333043
1    0.327816
Name: Num_Vehicles, dtype: float64

Number of Vehicles with Unknown Insurance
1    1171
2    1146
3     820
Name: Num_Vehicles, dtype: int64
1    0.373287
2    0.365317
3    0.261396
Name: Num_Vehicles, dtype: float64


Number of Drivers with Insurance
2    1744
1    1675
Name: Num_Drivers, dtype: int64
2    0.510091
1    0.489909
Name: Num_Drivers, dtype: float64

Number of Drivers with No Insurance
2    1787
1    1657
Name: Num_Drivers, dtype: int64
2    0.518873
1    0.481127
Name: Num_Drivers, dtype: float64

Number of Drivers with Unknown Insurance
1    1669
2    1468
Name: Num_Drivers, dtype: int64
1    0.532037
2    0.467963
Name: Num_Drivers, dtype: float64

In [168]:
print(Rootdf.groupby(['Num_Drivers','Insured']).size())
print()
print(Rootdf.groupby(['Num_Vehicles','Insured']).size())
print()
print(Rootdf.groupby(['Marital','Insured']).size())
print()

Num_Drivers  Insured
1            N          1657
             U          1669
             Y          1675
2            N          1787
             U          1468
             Y          1744
dtype: int64

Num_Vehicles  Insured
1             N          1129
              U          1171
              Y          1141
2             N          1147
              U          1146
              Y          1171
3             N          1168
              U           820
              Y          1107
dtype: int64

Marital  Insured
M        N          1725
         U          1726
         Y          1740
S        N          1719
         U          1411
         Y          1679
dtype: int64

# Comparing Rank and Vehicles/Drivers/Insured/Marital

In [144]:
print('Rank with 1 Driver')
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Rank.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Rank.value_counts()/Rootdf.Num_Drivers.value_counts().loc[1])
print()
print('Rank with 2 Drivers')
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Rank.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Rank.value_counts()/Rootdf.Num_Drivers.value_counts().loc[2])
print()

print()
print('Rank with 1 Vehicle')
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Rank.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Rank.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[1])
print()
print('Rank with 2 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Rank.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Rank.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[2])
print()
print('Rank with 3 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Rank.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Rank.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[3])
print()

print()
print('Rank with Insurance')
print(Rootdf.loc[Rootdf.Insured == 'Y'].Rank.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'Y'].Rank.value_counts()/Rootdf.Insured.value_counts().loc['Y'])
print()
print('Rank with No Insurance')
print(Rootdf.loc[Rootdf.Insured == 'N'].Rank.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'N'].Rank.value_counts()/Rootdf.Insured.value_counts().loc['N'])
print()
print('Rank with Unknown Insurance')
print(Rootdf.loc[Rootdf.Insured == 'U'].Rank.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'U'].Rank.value_counts()/Rootdf.Insured.value_counts().loc['U'])
print()

print()
print('Rank with Married')
print(Rootdf.loc[Rootdf.Marital == 'M'].Rank.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'M'].Rank.value_counts()/Rootdf.Marital.value_counts().loc['M'])
print()
print('Rank with Single')
print(Rootdf.loc[Rootdf.Marital == 'S'].Rank.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'S'].Rank.value_counts()/Rootdf.Marital.value_counts().loc['S'])
print()

Rank with 1 Driver
5    1273
3    1173
4    1090
2     740
1     725
Name: Rank, dtype: int64
5    0.254549
3    0.234553
4    0.217956
2    0.147970
1    0.144971
Name: Rank, dtype: float64

Rank with 2 Drivers
3    1228
5    1018
4     999
1     886
2     868
Name: Rank, dtype: int64
3    0.245649
5    0.203641
4    0.199840
1    0.177235
2    0.173635
Name: Rank, dtype: float64


Rank with 1 Vehicle
3    927
2    910
1    898
4    531
5    175
Name: Rank, dtype: int64
3    0.269398
2    0.264458
1    0.260971
4    0.154316
5    0.050857
Name: Rank, dtype: float64

Rank with 2 Vehicles
5    1001
3     744
4     695
1     561
2     463
Name: Rank, dtype: int64
5    0.288972
3    0.214781
4    0.200635
1    0.161952
2    0.133661
Name: Rank, dtype: float64

Rank with 3 Vehicles
5    1115
4     863
3     730
2     235
1     152
Name: Rank, dtype: int64
5    0.360258
4    0.278837
3    0.235864
2    0.075929
1    0.049111
Name: Rank, dtype: float64


Rank with Insurance
5    1206
4     961
3     794
2     291
1     167
Name: Rank, dtype: int64
5    0.352735
4    0.281076
3    0.232232
2    0.085113
1    0.048845
Name: Rank, dtype: float64

Rank with No Insurance
5    1085
4     965
3     898
2     374
1     122
Name: Rank, dtype: int64
5    0.315041
4    0.280197
3    0.260743
2    0.108595
1    0.035424
Name: Rank, dtype: float64

Rank with Unknown Insurance
1    1322
2     943
3     709
4     163
Name: Rank, dtype: int64
1    0.421422
2    0.300606
3    0.226012
4    0.051960
Name: Rank, dtype: float64


Rank with Married
3    1269
5    1204
4    1086
2     827
1     805
Name: Rank, dtype: int64
3    0.244462
5    0.231940
4    0.209208
2    0.159314
1    0.155076
Name: Rank, dtype: float64

Rank with Single
3    1132
5    1087
4    1003
1     806
2     781
Name: Rank, dtype: int64
3    0.235392
5    0.226035
4    0.208567
1    0.167602
2    0.162404
Name: Rank, dtype: float64

In [165]:
print(Rootdf.groupby(['Num_Drivers','Rank']).size())
print()
print(Rootdf.groupby(['Num_Vehicles','Rank']).size())
print()
print(Rootdf.groupby(['Insured','Rank']).size())
print()
print(Rootdf.groupby(['Marital','Rank']).size())
print()
print(Rootdf.groupby(['Mult_Vehicles_Drivers','Rank']).size())
print()
print(Rootdf.groupby(['Add_Vehicles_Drivers','Rank']).size())

Num_Drivers  Rank
1            1        725
             2        740
             3       1173
             4       1090
             5       1273
2            1        886
             2        868
             3       1228
             4        999
             5       1018
dtype: int64

Num_Vehicles  Rank
1             1        898
              2        910
              3        927
              4        531
              5        175
2             1        561
              2        463
              3        744
              4        695
              5       1001
3             1        152
              2        235
              3        730
              4        863
              5       1115
dtype: int64

Insured  Rank
N        1        122
         2        374
         3        898
         4        965
         5       1085
U        1       1322
         2        943
         3        709
         4        163
Y        1        167
         2        291
         3        794
         4        961
         5       1206
dtype: int64

Marital  Rank
M        1        805
         2        827
         3       1269
         4       1086
         5       1204
S        1        806
         2        781
         3       1132
         4       1003
         5       1087
dtype: int64

Mult_Vehicles_Drivers  Rank
1                      1       358
                       2       411
                       3       444
                       4       321
                       5       175
2                      1       806
                       2       672
                       3       811
                       4       516
                       5       564
3                      1       101
                       2       156
                       3       401
                       4       463
                       5       534
4                      1       295
                       2       290
                       3       416
                       4       389
                       5       437
6                      1        51
                       2        79
                       3       329
                       4       400
                       5       581
dtype: int64

Add_Vehicles_Drivers  Rank
2                     1       358
                      2       411
                      3       444
                      4       321
                      5       175
3                     1       806
                      2       672
                      3       811
                      4       516
                      5       564
4                     1       396
                      2       446
                      3       817
                      4       852
                      5       971
5                     1        51
                      2        79
                      3       329
                      4       400
                      5       581
dtype: int64

# Comparing Clicks and Vehicles/Drivers/Insured/Marital

In [145]:
print('Click with 1 Driver')
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Click.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Click.value_counts()/Rootdf.Num_Drivers.value_counts().loc[1])
print()
print('Click with 2 Drivers')
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Click.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Click.value_counts()/Rootdf.Num_Drivers.value_counts().loc[2])
print()

print()
print('Click with 1 Vehicle')
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Click.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Click.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[1])
print()
print('Click with 2 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Click.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Click.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[2])
print()
print('Click with 3 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Click.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Click.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[3])
print()

print()
print('Click with Insurance')
print(Rootdf.loc[Rootdf.Insured == 'Y'].Click.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'Y'].Click.value_counts()/Rootdf.Insured.value_counts().loc['Y'])
print()
print('Click with No Insurance')
print(Rootdf.loc[Rootdf.Insured == 'N'].Click.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'N'].Click.value_counts()/Rootdf.Insured.value_counts().loc['N'])
print()
print('Click with Unknown Insurance')
print(Rootdf.loc[Rootdf.Insured == 'U'].Click.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'U'].Click.value_counts()/Rootdf.Insured.value_counts().loc['U'])
print()

print()
print('Click with Married')
print(Rootdf.loc[Rootdf.Marital == 'M'].Click.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'M'].Click.value_counts()/Rootdf.Marital.value_counts().loc['M'])
print()
print('Click with Single')
print(Rootdf.loc[Rootdf.Marital == 'S'].Click.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'S'].Click.value_counts()/Rootdf.Marital.value_counts().loc['S'])
print()

Click with 1 Driver
N    4104
Y     897
Name: Click, dtype: int64
N    0.820636
Y    0.179364
Name: Click, dtype: float64

Click with 2 Drivers
N    4018
Y     981
Name: Click, dtype: int64
N    0.803761
Y    0.196239
Name: Click, dtype: float64


Click with 1 Vehicle
N    2480
Y     961
Name: Click, dtype: int64
N    0.720721
Y    0.279279
Name: Click, dtype: float64

Click with 2 Vehicles
N    2901
Y     563
Name: Click, dtype: int64
N    0.837471
Y    0.162529
Name: Click, dtype: float64

Click with 3 Vehicles
N    2741
Y     354
Name: Click, dtype: int64
N    0.885622
Y    0.114378
Name: Click, dtype: float64


Click with Insurance
N    3006
Y     413
Name: Click, dtype: int64
N    0.879204
Y    0.120796
Name: Click, dtype: float64

Click with No Insurance
N    3056
Y     388
Name: Click, dtype: int64
N    0.88734
Y    0.11266
Name: Click, dtype: float64

Click with Unknown Insurance
N    2060
Y    1077
Name: Click, dtype: int64
N    0.656678
Y    0.343322
Name: Click, dtype: float64


Click with Married
N    4279
Y     912
Name: Click, dtype: int64
N    0.824311
Y    0.175689
Name: Click, dtype: float64

Click with Single
N    3843
Y     966
Name: Click, dtype: int64
N    0.799127
Y    0.200873
Name: Click, dtype: float64

# Comparing Sold and Vehicles/Drivers/Insured/Marital

In [146]:
print('Policies Sold with 1 Driver')
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 1].Policies_sold.value_counts()/Rootdf.Num_Drivers.value_counts().loc[1])
print()
print('Policies Sold with 2 Drivers')
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Num_Drivers == 2].Policies_sold.value_counts()/Rootdf.Num_Drivers.value_counts().loc[2])
print()

print()
print('Policies Sold with 1 Vehicle')
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 1].Policies_sold.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[1])
print()
print('Policies Sold with 2 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 2].Policies_sold.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[2])
print()
print('Policies Sold with 3 Vehicles')
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Num_Vehicles == 3].Policies_sold.value_counts()/Rootdf.Num_Vehicles.value_counts().loc[3])
print()

print()
print('Policies Sold with Insurance')
print(Rootdf.loc[Rootdf.Insured == 'Y'].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'Y'].Policies_sold.value_counts()/Rootdf.Insured.value_counts().loc['Y'])
print()
print('Policies Sold with No Insurance')
print(Rootdf.loc[Rootdf.Insured == 'N'].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'N'].Policies_sold.value_counts()/Rootdf.Insured.value_counts().loc['N'])
print()
print('Policies Sold with Unknown Insurance')
print(Rootdf.loc[Rootdf.Insured == 'U'].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Insured == 'U'].Policies_sold.value_counts()/Rootdf.Insured.value_counts().loc['U'])
print()

print()
print('Policies Sold with Married')
print(Rootdf.loc[Rootdf.Marital == 'M'].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'M'].Policies_sold.value_counts()/Rootdf.Marital.value_counts().loc['M'])
print()
print('Policies Sold with Single')
print(Rootdf.loc[Rootdf.Marital == 'S'].Policies_sold.value_counts())
print(Rootdf.loc[Rootdf.Marital == 'S'].Policies_sold.value_counts()/Rootdf.Marital.value_counts().loc['S'])
print()

Policies Sold with 1 Driver
0    4602
1     399
Name: Policies_sold, dtype: int64
0    0.920216
1    0.079784
Name: Policies_sold, dtype: float64

Policies Sold with 2 Drivers
0    4615
1     384
Name: Policies_sold, dtype: int64
0    0.923185
1    0.076815
Name: Policies_sold, dtype: float64


Policies Sold with 1 Vehicle
0    3002
1     439
Name: Policies_sold, dtype: int64
0    0.872421
1    0.127579
Name: Policies_sold, dtype: float64

Policies Sold with 2 Vehicles
0    3249
1     215
Name: Policies_sold, dtype: int64
0    0.937933
1    0.062067
Name: Policies_sold, dtype: float64

Policies Sold with 3 Vehicles
0    2966
1     129
Name: Policies_sold, dtype: int64
0    0.95832
1    0.04168
Name: Policies_sold, dtype: float64


Policies Sold with Insurance
0    3286
1     133
Name: Policies_sold, dtype: int64
0    0.9611
1    0.0389
Name: Policies_sold, dtype: float64

Policies Sold with No Insurance
0    3270
1     174
Name: Policies_sold, dtype: int64
0    0.949477
1    0.050523
Name: Policies_sold, dtype: float64

Policies Sold with Unknown Insurance
0    2661
1     476
Name: Policies_sold, dtype: int64
0    0.848263
1    0.151737
Name: Policies_sold, dtype: float64


Policies Sold with Married
0    4810
1     381
Name: Policies_sold, dtype: int64
0    0.926604
1    0.073396
Name: Policies_sold, dtype: float64

Policies Sold with Single
0    4407
1     402
Name: Policies_sold, dtype: int64
0    0.916407
1    0.083593
Name: Policies_sold, dtype: float64